/* Global View aka Desktop View*/
body {
    margin: 0;
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.header-container {
    background-color: rgb(78, 78, 78);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header .logo {
    color: white;
}

.bold-name {
    color: rgb(255, 252, 252);
    font-weight: 700;
    font-size: 1.2rem;
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
    /* padding-left: 2%;
    padding-right: 2%; */
    align-items: center;
    /* border-bottom: 1px solid rgb(202, 9, 9); */
}

.logo {
    text-align: left;
}

nav {
    text-align: right;
}

.mybutton {
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}


.col {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(43, 226, 83);
}

.col p {
    color: rgb(247, 247, 247);
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line{
    font-weight: 700;
}

.mob-wrapper {
    display: none;
}




/* Tablet View */
@media (max-width: 768px){

.col {
    width: 45%;
}

.hide-desktop-only {
    display: block;
}

/* header {
    display: block;
    text-align: center;
} */

.header-container {
    position: relative;
}

.container {
    padding-top: 40px;
}

nav {
    display: none;
    /* text-align: center; */
}

nav a {
    display: block;
    /* text-align: center; */
}

.logo {
    padding: 40px 0;
    text-align: center;
}

.mybutton {
    margin-left: 0;
}

.mob-wrapper {
    display: block;
    padding-right: 30px;
}

.mob-nav{
    display: none;
    position:absolute;
    padding: top: 10px;
}

.navbutton {
    display: block;
    background-color: coral;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
}

}




/* Mobile View */
@media (max-width: 400px){

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    

}
